@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.section-padding {
  padding-right: 170px;
  padding-left: 170px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.text-darkpurple {
  color: #0d0056;
}

.text-lightpurple {
  color: #6b54fd;
}

.link {
  color: #6b54fd;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2em;
  text-decoration: none;
  transition: color .3s;
}
