.featured-container {
  width: 100%;
  background-color: #0d0056;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.featured-title {
  margin-bottom: 70px;
  text-align: center;
}
.featured-title h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2em;
}
.product-categories {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.product-categories button {
  background-color: transparent;
  padding: 12px 18px;
  border: 0;
  cursor: pointer;
  padding-bottom: 25px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2em;
  color: #ffffff;
}
.product-categories button.active {
  border-bottom: 4px solid #fff;
}
.product-list {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  row-gap: 30px;
}
